html{
  background-color:  rgb(119, 3, 143);
  height: 100vh;
}

body {color:rgb(68, 37, 0);
   background-color: rgb(255, 249, 171);
   margin:auto;
   width: 95%;
   height: 95%;
   position: relative;}

body h1{text-align: center;}

nav div{ margin:auto; border:0px solid red; width: 70%; text-align: center; }

figure{display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border:0px solid green;
  width:75%;
  margin:auto;
  tab-size: 2%;}

img {background-position: center;
    padding: 30px;
    margin:auto;
    width:60%;}

article p{color: black;
    -moz-box-pack: auto;
  text-align: center;
  margin:auto;
  position: relative;
  text-align: justify;
  width: 80%;}

section p{
  color: black;
  -moz-box-pack: auto;
  text-align: center;
  margin:auto;
  position: relative;
  text-align: justify;
  width: 80%;
  border-radius: 10px;}

nav{
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

  nav ul{
  display:flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 75px;
  border:0px solid rgb(31, 64, 212);
} 

nav ul li{
  display:inline-block;}


nav ul li  a{
      color:ivory;
      text-decoration: none;
      padding: 15px;
      background-color: rgb(0, 52, 224);
      border-radius: 8px;
      font-size:1.5em;
      color:ivory;
      padding: 15px;
      background-color: rgb(80, 147, 248);
  }
main { 
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width: 30%;
    background-color: brown;
    color:ivory;
    height: 100%;
    box-shadow: 4px 5px 12px #392d2d;
    margin: left;
    position: relative;}

aside{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    position: relative;
    left: 50%;
    width: 50%;
    height: 50%;

}